@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');

:root {
    --dark_: #101020;
    --dark: #101020b0;
    --green: #4bd32a;
}

.invader_Pink {
    --_1stImg: url('./img/pinkAlien0.png');
    --_2ndImg: url('./img/pinkAlien1.png');
}

.invader_Blue {
    --_1stImg: url('./img/blueAlien0.png');
    --_2ndImg: url('./img/blueAlien1.png');
}

.invader_White {
    --_1stImg: url('./img/alien0.png');
    --_2ndImg: url('./img/alien1.png');
}

body {
    font-family: "Galindo", serif;
    font-weight: bolder;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--dark);
}

.canvas {
    /* width: 600px;
    height: 680px;
    background: url(./img/M8Go.gif);
    position: relative;
    border-radius: 5px;
    overflow: hidden; */
    position: relative;
    width: 33%;
    height: 70%;
    background: url(./img/M8Go.gif);
    border-radius: 1%;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 13%;
    height: 23%;
    /* background-color: yellow; */
    /* top: 84%; */
    background: url('./img/space_shipPk.png') no-repeat;
    background-size: auto;
    background-size: cover;
}

.pause {
    animation-play-state: paused;
}

.ship_Bomb {
    position: absolute;
    width: 2%;
    height: 6%;
    margin: 3%;
    border-radius: 50%;
    background: url('./img/bomb.png') no-repeat fixed center center / cover;
}

.invaders {
    width: fit-content;
    width: 400px;
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
}

.invader_Pink,
.invader_Blue,
.invader_White {
    /* width: 50px;
    height: 35px;
    margin: 15px; */
    width: 45px;
    height: 32px;
    margin: 5px;
    /* width: 8%;
    height: 4%;
    margin: 0%; */
    display: inline-block;
    animation: switchInvader 1s 0s infinite;
}

@keyframes switchInvader {
    0% {
        background: var(--_1stImg) no-repeat center / cover;
    }

    100% {
        background: var(--_2ndImg) no-repeat center / cover;
    }
}

.game-info {
    /* font-size: 20px;
    margin-bottom: 10px;
    width: 550px;
    height: 50px;
    background-color: #e6e6e6;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #101020; */
    font-size: 100%;
    margin-bottom: 0.4%;
    width: 30%;
    height: 5%;
    background-color: #e6e6e6;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1.3%;
    color: #101020;
}


.bomb {
    position: absolute;
    width: 5%;
    height: 2%;
    /* top: 10px; */
    background: url('./img/bomb0.png') no-repeat;
    /* background-color: red; */
    /* margin-top: 2px; */
    margin: 21px;
    /* border-radius: 50%; */
}

.lives-container {
    width: 26%;
    height: 26%;
    background-color: #5b5b5b;
    border-radius: 15px;
    overflow: hidden;
}

.lives {
    height: 100%;
    background-color: red;
    text-align: center;
    line-height: 148%;
    color: rgb(255, 255, 255);
    font-size: 51%;
    border-radius: 15px;
    transition: width 0.5s ease;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    /* background: #3e3e3ec7;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.72);
    max-width: 400px;
    width: 90%; */
    background: #3e3e3ec7;
    padding: 3%;
    border-radius: 2%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.72);
    max-width: 400px;
    width: 50%;
}

.popup-title {
    /* font-size: 24px;
    color: #4bd32a;
    margin-bottom: 10px; */
    font-size: 120%;
    color: #4bd32a;
    margin-bottom: 0%;
}

.popup-mssg {
    /* font-size: 18px;
    color: #fff;
    margin-bottom: 20px; */
    font-size: 100%;
    color: #fff;
    margin: 4%;
}

.all_btns {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.popup-button {
    /* font-family: "Galindo", serif;
    font-weight: bolder;
    font-size: 16px;
    background-color: #4bd32a;
    color: #101020;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; */
    font-family: "Galindo", serif;
    font-weight: bolder;
    font-size: 100%;
    background-color: #4bd32a;
    color: #101020;
    border: none;
    padding: 2% 6%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-button:hover {
    background-color: #3aa822;
}